name: rust

on: [pull_request, workflow_dispatch]

jobs:
  quality:
    runs-on: ubuntu-24.04
    container: fedora:42
    steps:
      - uses: actions/checkout@v4
      - name: Install dependencies
        run: sudo dnf install -y gtk4-devel libadwaita-devel meson gettext cargo rust clippy rustfmt
      - name: Run meson setup
        run: meson setup build
      - name: Run clippy
        run: cargo clippy --all-targets --all-features -- -D warnings
      - name: Run fmt
        run:  cargo fmt --all -- --check


